NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

# Prisma - pooled connection (runtime queries)
DATABASE_URL=
# Prisma - direct connection (migrations)
DIRECT_URL=
